*{
    box-sizing: border-box;
}

*{
    margin: 0;
}

body{
    background-color: antiquewhite;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 3px;
}
.navbar-inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
}

.navbar{
    background-color: bisque;
    font-family: 'Lacquer', sans-serif;
    font-size: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: whitesmoke;
    border-radius: 4px;
    text-align: center;
    margin-top: 1vh;
}

.navbar .title{
    border-right: medium solid white;
    border-left: medium solid white;
    padding-top: 7%;
    padding-bottom: 4%;
   
}

.navbar .right{
    border-left: medium solid white;
    padding-top: 7%;
    padding-bottom: 4%;
}

.navbar .left{
    border-right: medium solid white;
    padding-top: 7%;
    padding-bottom: 4%;
}

.greeting{
    text-align: center;
    margin-top: 3vh;
    font-family: 'Dancing Script', cursive;
}

.userInput{
    margin-right: 7vh;
    margin-left: 7vh;
    margin-top: 3vh
}

.newmemory { 
    width: 75vw;
    height: 50vh;
    border: 1px solid #999999; padding: 5px; 
    word-wrap: break-word;
    
}

.tags{
    margin-top: 2vh;
}
.tags textarea{
    margin-left: 2.5vh;
    width: 65vw; 
    
}

.tags h4{
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}

.submissionbutton{
    margin-left: 8vh;
    margin-top: 2vh;
    margin-bottom: 12vh;
}

.submissionbutton{
    
}